<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>student_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileUploader</display-name>
    <servlet-name>FileUploader</servlet-name>
    <servlet-class>com.cvt.student_manager.FileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploader</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>temp-path</param-name>
    <param-value>
         //Users//cvt10//Documents//temp//tmp.csv
    </param-value>
  </context-param>
  <context-param>
    <description>Location to the main csv file</description>
    <param-name>data-path</param-name>
    <param-value>
         //Users//cvt10//Documents//temp//data.csv
      </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CSVAppender</display-name>
    <servlet-name>CSVAppender</servlet-name>
    <servlet-class>com.cvt.student_manager.CSVAppender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVAppender</servlet-name>
    <url-pattern>/append</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CsvToBeanConverter</display-name>
    <servlet-name>CsvToBeanConverter</servlet-name>
    <servlet-class>com.cvt.student_manager.CsvToBeanConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CsvToBeanConverter</servlet-name>
    <url-pattern>/converter</url-pattern>
  </servlet-mapping>
</web-app>